body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid rgb(255, 74, 170);
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: rgb(255, 222, 228);
  color: black;
  border-radius: 0;
  border-bottom: 10px solid rgb(255, 74, 170);
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid rgb(255, 74, 170);;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed rgb(255, 74, 170);
}

.past {
  background-color: #efe0e7;
  color: black;
}

.present {
  background-color: #C51D34;
  color: black;
}

.future {
  background-color: #89fc89;
  color: black;
}

.saveBtn {
  border-left: 1px solid rgb(255, 74, 170);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #0063ba;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

